
.modal>.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 5px 5px;
  line-height: 60px;
  right: 10px;
  font-size: 3rem;
}

.modal>.header {
  border: 1px solid #828282;
  text-align: center;
  margin: 10px;
  padding: 20px;
  border-radius: 3px;
  font-size: 1.2rem;
  text-align: left;
}

.modal>.content {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal>.content .Button {
  margin: 5px;
}
.modal>.content .settings {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;

}

@media only screen and (min-width: 768px) {

.modal>.close {
  padding: 18px 25px;
  line-height: 35px;
  font-size: 5rem;
}
}