.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 8px 15px;
    line-height: 50px;
    right: 10px;
    font-size: 5rem;
  }

  .modal > .header {
    border: 1px solid #828282;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    font-size: 2rem;
  }

  .modal > .content { 
    margin: 10px;
    width: 100%;
  }
