@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text:400&display=swap');
// align center

%center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// font styles

%header2 {
    color: $dinner_HeadLine;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 2.1rem;
}