@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text:400&display=swap');
// align center

:root {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 1rem;
    color: #4f4f4f;
}

a {
    color: #4f4f4f;
    text-decoration: none;
}
.input-container {            
    width: 440px;
    height: 65px;
    border-radius: 3px;
    border: 1px solid #828282;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 1.2rem;
    color: #4f4f4f;
    background:$dinner_Blue;
    margin: 0 12px 12px 0;

    input[type=email],[type=password], [type=text] {
        width: 290px;
        height: 35px;
        border-radius: 3px;
        border: 1px solid #828282;
        font-family: 'Red Hat Text', sans-serif;
        font-size: 1.2rem;
        margin: 12px;
    }

    span {
        padding-left: 12px;
    }
}

%center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// margin

%betweenElement {
    margin: 24px;
}


// font styles

%header2 {
    color: $dinner_HeadLine;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 2.1rem;
}