Html {
    background:white;
    width: 768px;
    height: 1024px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        width: 720px;
        height: 976px;
        background: rgba(95, 95, 95, 0.10);
    }
}