@import './_color.scss';
@import './global.scss';

// mobile
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

    .Startlogga {
        background-image: url(../images/StartloggaPhone.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vh;

        .login-container {
            height: 98%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;

            .input-container {
                margin: 0 8px 8px 0;
                span {
                    padding: 0px;
                }
            }

            .login-button-container {
                display: flex;
                flex-direction: row;
                margin: 0 8px;
                a {
                    margin: 0 8px 0 0;
                }
            }
        }
    }

    .header {
        background: $dinner_Blue;
        border-radius: 3px 3px 0 0;
        margin:0;
        .headLine {
            margin: 0;
            line-height: 100px;
            @extend %center;
            @extend %header2;
        }
    }

    .header-recipt {
        background: $dinner_Persica;
        border-radius: 3px 3px 0 0;
        h1 {
            margin: 0;
            line-height: 70px;
            text-align: center;
            @extend %header2;
        }
    }

    .content {
        .sign-up {
            #bg {
                width: 100%;
            }
            display: flex;
            align-items: center;
            flex-direction: column;

            .input-container:nth-child(1) {
                background: $dinner_Persica;
                margin-top: 40px;
            }

            .input-container:nth-child(3) {
                background: $dinner_Yellow;
                margin-bottom: 60px;
            }

            .next-page {
                width: 100%;
                height: 100px;
                justify-content: flex-end;
                align-items: flex-end;

                .Button {
                    margin-right: 24px;
                }
            }
        }

        .select-preference-button {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows:repeat(2, 1fr);
            gap: 8px;
        }
        
        .centerGrid {
            @extend %center;
            flex-direction: column;
            padding: 24px;

        .choose-button {
            display: grid;
            grid-template-columns: repeat(4, 77px);
            grid-template-rows:repeat(4, 77px);
            gap: 8px;
        }
    }

        .mail-button {
            display: flex;
            justify-content: space-between;   
            margin: 0 64px;   
            padding: 26px 0;
        }
            
        .landing-button-position {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .Button {
                margin: 24px;
            }    
        }
    
        .next-page {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            margin: 24px;

            a {
                text-decoration: none;
                margin: 0 0 0 12px;
            }
        }

        .categorybar {
            margin: 10px 14px;
            label {
                font-size: 0.9rem;
            }
        }
     
    }

    .admin {
        margin: 12px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;

        .admin-receptlist {
            background: #c4c4c4;
            padding: 12px;
            border-radius: 3px;
            .listrow {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .admin-title {
                    width: 260px;
                    text-align: left;
                }
            }
        }
        
        .admin-addrecept {
            background: $dinner_Persica;
            display: flex;
            flex-direction: column;
            margin: 12px 0;
            padding: 12px;
            border-radius: 3px;

            h2, h3 {
                text-align: center;
            }

            .foodtype {
                margin: 10px;
                select {
                    width: 150px;
                    margin: 10px;
                    position: relative;
                    left: 17px;
                }
            }

            label {
                display: flex;
                justify-content: flex-end;
                padding: 3px;
                input {
                    margin: 0 3px;
                    border-radius: 3px;
                    border: 1px solid $dinner_Grey;
                }
            }
        }
    }
}

@media only screen and (min-width: 767px) {
    
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 0;
        padding: 0;

        .Startlogga {
            background-image: url(../images/Startlogga.svg);
            background-repeat: no-repeat;
            background-size:cover;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            .login-container {
                height: 800px;
                display: flex;
                flex-direction: column;
                margin: 64px;

                .input-container {
                    margin: 0 12px 12px 0;
                    span {
                        padding-left: 12px;
                    }
                }

                .login-button-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    a {
                        margin: 0 12px 0 0;
                    }
                }
            }

        }

        .header {
            background: $dinner_Blue;
            border-radius: 3px 3px 0 0;
            margin: 24px 0 0 0;
            .headLine {
                margin: 0;
                line-height: 100px;  
                display: flex;
                align-items: center;
                justify-content: center;
                color: $dinner_HeadLine;
                font-family: 'Red Hat Text', sans-serif;
                font-size: 2.1rem;
            }
        }

        .content {
            .sign-up {

                #bg {
                    width: 100%;
                    height: 100%;
                }
                display: flex;
                align-items: center;
                flex-direction: column;
                height: 100%;

                .input-container:nth-child(1) {
                    background: $dinner_Persica;
                    margin-top: 140px;
                }

                .input-container:nth-child(3) {
                    background: $dinner_Yellow;
                    margin-bottom: 140px;
                }

                .Button {
                    margin: 0 6px;
                }

                .next-page {
                    width: 100%;
                    justify-content: flex-end;
                    align-items: flex-end;

                    .Button {
                        margin-right: 75px;
                    }
                }
            }

            .select-button {
                display: flex;
                justify-content: center;
                width: 100%;
            }
            
            .centerGrid {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 64px;

            .choose-button {
                display: grid;
                grid-template-columns: repeat(4, 127px);
                grid-template-rows:repeat(4, 127px);
                gap: 28px;
            }
        }

            .mail-button {
                display: flex;
                justify-content: space-between;   
                margin: 0 64px;   
                padding: 36px 0;
            }
                
            .landing-button-position {
                height: 600px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .Button {
                    margin: 24px;
                }    
            }
        
            .next-page {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                margin: 64px;
                a {
                    text-decoration: none;
                    margin: 0 0 0 12px;
                }
            }
                
            .categorybar {
                margin: 10px 64px;
            }
        }
        
    }
}

//Ipad Pro
@media only screen and (min-width: 780px) {
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 0px 0;
        margin: 0;

        .Startlogga {
            background-image: url(../images/Startlogga.svg);
            background-repeat: no-repeat;
            background-size:1024px 1366px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            margin: 0;

        }
        .admin {
            margin: 12px 12px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-content: space-around;
            text-align: center;
            .admin-receptlist {
                margin: 10px;
            }
            
            .admin-addrecept {
                display: flex;
                flex-direction: row;
                margin: 12px;
            }
        }
    }
}

//bigger than ipad pro
@media only screen and (min-width: 1025px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;

        .Startlogga {
            background-image: url(../images/Startlogga.svg);
            background-repeat: no-repeat;
            background-position: center;
            max-width: 1000px;
            background-size:1000px 800px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin: 0;
            .login-container {
                height: 200px;
                display: flex;
                flex-direction: column;
                margin: 0px;

                .input-container {
                    margin: 0 8px 8px 0;
                    span {
                        padding-left: 8px;
                    }
                }

                .login-button-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    a {
                        margin: 0 12px 0 0;
                    }
                }
            }
        }
        .admin {
            margin: 12px 12px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-content: space-around;
            text-align: center;
            .admin-receptlist {
                margin: 10px;
            }
            
            .admin-addrecept {
                display: flex;
                flex-direction: row;
                margin: 12px;
            }
        }
    }
}
