@import './_color.scss';
@import './global.scss';

// align center



html {
    background:white;
    width: 768px;
    height: 1024px;
    margin: 0;
    @extend %center;
    margin: 0 auto;
    
    .content {
        width: 720px;
        height: 976px;
        border-radius: 4px;
        background: rgba(95, 95, 95, 0.10);
        
        .header{
            border-radius: 4px;
            height: 100px;
            width: 100%;
            background: $dinner_Blue;

            .headLine {
                margin: 0;
                line-height: 100px;
                @extend %center;
                @extend %header2;
            }
        }

        .button {
            width: 180px;
            height: 65px;
            border-radius: 4px;
            border: 1px solid black;
            @extend %center;
        }

        .select-button {
            display: flex;
            justify-content: space-between;   
            margin: 0 64px;   
        }
        
        .next-page {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end; 
            margin: 64px;  

            a {
                text-decoration: none;
            }
        }
    }
}