@import '../../style/color';

.recipt-content {
    padding: 0;
    margin: 0 auto;
}

.time {
    display: flex;
    flex-direction: row;
}

.clock {
    padding: 6px 12px 0px 12px;
}

.recipe-img {
    border: 1px solid #575757;
    box-sizing: border-box;
    width: 355px;
    border-radius: 10px;
    margin: 12px 10px;
}

.recipe-intro {
    border: 1px solid $dinner_Grey;
    background: $dinner_Blue;
    border-radius: 3px;
    padding: 12px;
    font-size: 0.9rem;
    margin: 0px 10px;
}

.space { margin: 40px;}

.ingridiens-header {
    position: relative;
    top: 20px;
    left: 12px;
    border: 1px solid $dinner_Grey;
    background: $dinner_LigthGrey;
    border-radius: 3px;
    font-size: 1.1rem;
    width: 188px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 0 0 12px;
    margin: 0px 10px;
}

.arrow { 
    padding-left: 30px;
}

.ingridiens {
    border: 1px solid $dinner_Grey;
    background: $dinner_Yellow;
    border-radius: 3px;
    padding: 18px 26px 26px 26px;
    font-size: 0.9rem;
    margin: 0px 10px;
}

.portioner {
    width: 100px;
    height: 30px;
    position: relative;
    left: 220px;
    top: -12px;
    border: 1px solid $dinner_Grey;
    background: #ffffff;
    border-radius: 3px;    
}

.instructions {
    border: 1px solid $dinner_Grey;
    background: $dinner_Blue;
    border-radius: 3px;
    padding: 0 26px 26px;
    font-size: 0.9rem;
    margin: 12px 10px;
}

.ingredientGrid {
    display: grid;
    grid-template-columns: repeat(4, 77px);
    grid-template-rows:repeat(4, 77px);
    gap: 8px;
}

@media only screen and (min-width: 767px) {
    .recipt-content {
        margin: 0 64px 12px;
        padding: 12px 0;
    }

    .clock {
        padding: 0 12px;
    }

    .recipe-img {
        width: 590px;
        margin: 12px 0;
    }

    .arrow { 
        padding-left: 100px;
    }

    .recipe-intro {
        padding: 26px;
        font-size: 1.1rem;
        margin: 0px 0px;
    }

    .ingridiens-header {
        position: relative;
        top: 26px;
        left: 22px;
        font-size: 1.4rem;
        width: 288px;
        height: 60px;
        padding: 0 0 0 12px;
    }

    .ingridiens {
        padding: 40px 26px 26px 26px;
        font-size: 1.1rem;
        margin: 0px 0px;
    }

    .portioner {
        width: 100px;
        height: 30px;
        position: relative;
        left: 360px;
        top: -12px;
    }

    .instructions {
        margin: 12px 0;
        padding: 0 26px 26px;
        font-size: 1.1rem;
    }
}